.container {
	display: flex;
	flex-direction: row;
}

.operator {
	margin: 20px;
	padding-inline-start: 8px;
	padding-inline-end: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.number {
	font-size: 3rem;
}

button {
	font: inherit;
	font-size: 2rem;
	border: none;
	background-color: inherit;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	padding-inline-start: 10px;
	padding-inline-end: 10px;
}

p,
h1 {
	text-align: center;
}
